@import url("~choices.js/public/assets/styles/choices.min.css");
@import url("~@tarekraafat/autocomplete.js/dist/css/autoComplete.02.css");

.active-search {
    display: block !important;
}

._mapboxgl-search-ctrl__ {
    display: none;

    &.loaded {
        display: block;
    }

    > button {
        background-image: url("../assets/search.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.mapbox-search-container {
    display: none;
    max-width: 600px;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);

    &.active-search {
        box-shadow: none;
        background: none;
    } 

    .autoComplete_wrapper,
    .no-result {
        display: flex;
        background: #fff;
        border: 0;
        border-radius: 4px; 
        color: #747474;
        outline: 0;
    }

    .no-result {
        font-size: 0.9rem;
        padding-left: 5px;
        overflow: hidden !important;
        min-height: 20px;
    }

    .autoComplete_wrapper {
        display: flex;
        justify-content: flex-end;
        background: #fff;
        border: 0;
        border-radius: 4px; 
        color: #747474;
        outline: 0;

        ul {
            margin-top: 0.15rem;
            width: 100%;
        }

    select#mapbox-search-select {
        font-size: 1rem;
        padding-left: 10px;
    }
    
    input.mapbox-search,
    select#mapbox-search-select {
        display: none;
        background: none;
        border: none;
    }

    .choices {
        display: none;
        min-width: 175px;
        margin-bottom: 0;

        .choices__inner {
            min-height: initial;
            padding: 7.5px 0.5px 3.75px
        }

        .choices__list--dropdown .choices__item--selectable {
            padding-right: 0 !important;
        }

        .choices__list .choices__list--dropdown {
            max-height: 225px;
            overflow-y: auto;
        }
    }
  }
}
