@import url("~choices.js/public/assets/styles/base.min.css");
@import url("~choices.js/public/assets/styles/choices.min.css");
@import url("~@tarekraafat/autocomplete.js/dist/css/autoComplete.02.css");
@import url("~@fortawesome/fontawesome-free/css/all.css");

.active-search {
    display: block !important;
}

.mapbox-search-container {
    display: none;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);

    &.active-search {
        box-shadow: none;
        background: none;
    } 

    button {
        &.active-search {
            float: right;
            margin-left: 2px;
            margin-top: 7px;
        };
    }

    .autoComplete_wrapper {
        display: flex;
        justify-content: flex-end;
        background: #fff;
        border: 0;
        border-radius: 4px; 
        color: #747474;
        outline: 0;

        ul {
            margin-top: 0.15rem;
        }

    select#mapbox-search-select {
        font-size: 1rem;
        padding-left: 10px;
    }
    
    input.mapbox-search,
    select#mapbox-search-select {
        display: none;
        background: none;
        border: none;
    }

    .choices {
        display: none;
        min-width: 125px;
        margin-bottom: 0;

        .choices__list--dropdown .choices__item--selectable {
            padding-right: 0 !important;
        }
    }
  }
}
