@import url("~@tarekraafat/autocomplete.js/dist/css/autoComplete.02.css");

.active-search {
    display: block !important;
}
.mapbox-search-container {
    max-width: 425px;

    &.active-search {
        box-shadow: none;
        background: none;
    }

    button {
        background-image: url("../assets/icons8-search.svg");

        &.active-search {
            float: right;
            margin-left: 2px;
            margin-top: 7px;
        };
    }

    .autoComplete_wrapper {
        display: flex;
        justify-content: flex-end;
        background: #fff;
        border: 1px solid rgba(33,33,33,.2);
        border-radius: 4px;
        color: #747474;
        outline: 0;

        ul {
            margin-top: 0.15rem;
        }

    select.mapbox-search-select {
        font-size: 1rem;
        padding-left: 10px;
    }
    
    input.mapbox-search,
    select.mapbox-search-select {
        display: none;
        background: none;
        border: none;
    }
  }
}
